<div class="container">
	<p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
	
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in users">
			<strong>{{user.name}}</strong><br>
			<span class="text-muted">{{user.email}}</span>

			<a ng-click="delete(user)" class="trash">
				<span class="glyphicon glyphicon-trash pull-right"></span>
			</a>

			<a ng-click="editPassword(user)" title="Click to edit passwword for this user">
				<span class="glyphicon glyphicon-lock pull-right" ng-style="{'width':'30px'}"></span>
			</a>					

		</li>
	</ul>

	<h4><br><br>Available Specify users</h4>
	<table st-table="displayedSpecifyusers" st-safe-src="specifyusers" class="table table-striped dataset-table">
		<thead>
			<tr>
				<th colspan="5">
					<input st-search="" placeholder="Filter users" class="input-sm form-control" type="search"/>
				</th>
			</tr>
			<tr>
				<th st-sort="name">Username</th>
				<th st-sort="usertype">Role</th>
				<th st-sort="email">Email</th>
				<th st-sort="created">Created</th>
				<th class="action"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="specifyuser in displayedSpecifyusers" ng-if="!isDataToolUser(specifyuser.specifyUserId)">
				<td>{{ specifyuser.name }}</td>
				<td>{{ specifyuser.usertype }}</td>
				<td>{{ specifyuser.email }}</td>
				<td>{{ specifyuser.createdDisplay }}</td>
				<td xxclass="action">
					<a ng-click="addSpecifyUser(specifyuser)" title="Add specifyuser to datatool users">
						<span class="glyphicon glyphicon-plus pull-right"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>
