<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">Edit password</div>
			<div class="modal-body">
				<form>
					<input type="text" id="new-password"  class="form-control" placeholder="Enter password" ng-minlength="4" ng-maxlength="30" autofocus>
					<br>
					<button type="button" class="btn btn-danger" ng-click="$hide()"> <i class="fa fa-times"></i>&nbsp;Cancel</button> 
					<button type="button" class="btn btn-success" ng-click="updatePassword(); $hide()"><i class="fa fa-check"></i>&nbsp;OK</button>
<!--
					<span class="pull-right">
						<input type="checkbox" ng-model="showPassword" id="show-password">
							<small>
								<label for="show-password" style="vertical-align:middle;font-weight:normal;">Show password</label>
							</small>
					</span>
-->
				</form>			
			</div>
		</div>
	</div>
</div>
