<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">Edit password</div>
			<div class="modal-body">
				<form>
					<input type="text" id="new-password"  class="form-control" placeholder="Enter password" ng-minlength="4" ng-maxlength="30" autofocus="true" ng-enter="updatePassword(); $hide();">
					<br>
					<button type="button" class="btn btn-danger" ng-click="$hide()">
						<i class="fa fa-times"></i>&nbsp;Cancel
					</button> 
					<button type="button" class="btn btn-success" ng-click="updatePassword(); $hide()">
						<i class="fa fa-check"></i>&nbsp;OK
					</button>
				</form>			
			</div>
		</div>
	</div>
</div>
