<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"><b>Search and Replace ...</b></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="column" class="col-sm-3 control-label">Column</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="searchReplace.field">
								<option ng-repeat="field in collectionFields" ng-if="field != '_id' && field != ''" value="{{ field }}" >
									{{ field }}
								<option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="search" class="col-sm-3 control-label">Search for</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="search" placeholder="" ng-model="searchReplace.search" ng-focus="true">
						</div>
					</div>
					<div class="form-group">
						<label for="replace" class="col-sm-3 control-label">Replace width</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="replace" placeholder="" ng-model="searchReplace.replace" ng-focus="true">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6">
							<input type="checkbox" id="case" ng-model="searchReplace.caseSensitive">
							<label for="case" class="normal-text" style="vertical-align:top;">Case sensitive</label>
						</div>
					</div>

				</form>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="$hide()"> 
						<i class="fa fa-cancel"></i> Cancel
					</button>

					<button type="button" class="btn btn-success" ng-click="doSearchReplace();$hide();" ng-disabled="newColumn.name===''"> 
						<i class="fa fa-check"></i> OK
					</button>

				</div>
			</div>
		</div>
	</div>
</div>
