.my-drop-zone { 
	border: dotted 3px lightgray; 
	margin-top: 20px;
}
.nv-file-over { 
	border: dotted 3px green; /* Default class applied to drop zones on over */
} 
.normal-text {
	font-weight: normal;
}


/* 
prevent the buttons / menu to be autosized
there probably is a far better way to do this
*/
td.buttons {
	max-width: 175px;
	width: 175px;
}
ul.pagination li {
	overflow: visible;
	white-space: nowrap;
}

/*****/
select {
	background-color: white;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input.small {
	height: 20px;
	padding-top: 5px;
	padding-left: 3px;
	width: 120px;
	border-radius: 2px;
}
table.conditions tr td {
	padding-right: 6px;
	padding-top: 4px;
}

