.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.st-selected {
	background: #216eff !important;
	color: white !important;
}

.padding {
	padding: 0.8em;
}

.header {
	text-align: center;
	background-color: #269;
	background-image: linear-gradient(rgba(255, 255, 255, .5) 1px, transparent 4px), linear-gradient(90deg, rgba(255, 255, 255, .5) 1px, transparent 4px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
	background-size: 40px 40px, 40px 40px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	box-shadow: 0px 3px 8px 2px rgba(80, 80, 80, 1);
}

.banner {
	padding: 2em 0;
	color: #ffffff;
	text-shadow: 0px 3px 30px #fafaff;
	z-index: 999;
}

#main-footer {
	margin-top: 3em;
	border-top: 1px solid #454545;
}

.loading-indicator {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 0.7em;
}

.loading-indicator:before {
	display: inline-block;
	margin: 0 0.4em;
	min-width: 1em;
	min-height: 1em;
	border-top: 4px solid #646464;
	border-right: 4px solid #e6e6e6;
	border-left: 4px solid #e6e6e6;
	border-bottom: 4px solid #646464;
	content: "";
	-webkit-animation: halfspin 1s ease infinite;
	-moz-animation: halfspin 1s ease infinite;
	-o-animation: halfspin 1s ease infinite;
	animation: halfspin 1s ease infinite;
	border-radius: 100%;
}

@-webkit-keyframes halfspin {
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}

}

@-moz-keyframes halfspin {
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}

}

@keyframes halfspin {
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}

}

table.dataset-table {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 700px; /* this can vary */
}

table.dataset-table * {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
}

.dataset-table thead {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.dataset-table tbody {
	overflow-y: scroll;
	display: inline-block;
	min-height: 0px;
}

table.dataset-table  thead  tr:not(.modal-table),table.dataset-table  tbody  tr:not(.modal-table),table.dataset-table  tfoot  tr:not(.modal-table) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.dataset-table thead, .dataset-table tfoot {
	flex-shrink: 0;
}

.dataset-table th,table.dataset-table > tbody td:not(.modal-table) {
	width: 20%; /* this can vary */
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}


tfoot {
	display: inline-block;
}

tfoot td {
	width: 100%;
	display: inline-block;
	padding: 0px;
}


img.modal-icon {
	float: left;
	margin-right: 8px;
}

table.modal-table > tr > td:first-child {
	width: 25%;
}

input.taxon-typeahead {
	width: 80% !important;
}

.taxon-footer-txt {
	text-align: left !important;
}

li.active {
background-color: #eee;
}

/*
 * Datepicker element
 */
.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  padding: 5px;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

button.tax-btn-modal {
	margin-left: 14px;
}

label.normal-font-weight {
	font-weight: normal;
	margin-bottom: 0px;
}
hr.modal-hr {
	margin-top: 1px;
	margin-bottom: 1px;
}
.no-padding {
	padding: 0px;
}
/* workbench history */
.wb-icon {
	color: gray;
}
.wb-message {
	background-color: #ffc;
	padding : 4px;
	min-width: 100%;
	max-width: 100%;
	line-height: 99%;
	white-space : normal;
	display: block;
}
.wb-from {
	color : darkred;
}
.wb-to {
	color : darkgreen;
}
/* add "hand" to pagination buttons */
.pagination li a {
	cursor: pointer;
}
/* center modal -> placement: "center" */
.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

