<div class="container-fluid" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
	
<div class="btn-group" role="group">
<button type="button" class="btn btn-default" ng-show="user.csvimports && user.csvimports.length >0" ng-model="selectedCsv"  ng-options="imp.collectionname as imp.name for imp in user.csvimports" bs-select>
	<button type="button" class="btn btn-default" data-animation="am-fade-and-slide-top" data-template="app/csv-upload/mapping.modal.tmpl.html" bs-modal="modal"><i class="fa fa-arrows-h"></i> Map selected dataset
	</button>
	<button type="button" class="btn btn-default" data-animation="am-fade-and-slide-top" data-template="app/csv-upload/upload.modal.tmpl.html" bs-modal="modal"><i class="fa fa-upload"></i> Upload new dataset(s)
</button>
		</div>		
				<!-- Data Table -->

             <div class="col-md-12" style="margin-bottom: 40px">
				 
				 <table class="table table-striped" st-pipe="callServer" st-table="data" st-dataset-name="{{selectedCsv}}">
				 	<thead>
				 	<tr>
						<th ng-repeat="(key, value) in data[0]" st-sort="key" ng-hide="key === '_id'">{{key}}</th>
				
				 		
				 	</tr>
				 	<tr>
				 		<th ng-repeat="(key, value) in data[0]" ng-hide="key === '_id'"><input st-search="key"/></th>
				 	
				 		
				 	</tr>
				 	</thead>
				 	<tbody >
				 	<tr ng-repeat="row in data">
				 		<td ng-repeat="(key, value) in row" ng-hide="key === '_id'">{{row[key]}}</td>
				 	
				 		
				 	</tr>
				 	</tbody>
				 	<tbody ng-show="isLoading">
				 	<tr>
				 		<td colspan="4" class="text-center">Loading ... </td>
				 	</tr>
				 	</tbody>
				 	<tfoot>
				 	<tr>
				 		<td class="text-center" st-pagination="" st-items-by-page="100" colspan="4">
				 		</td>
				 	</tr>
				 	</tfoot>
				 </table>
				 
				 
			 </div>
