<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
			<div class="modal-header"><button type="button" class="close" ng-click="$hide()">×</button>
				 <h4 class="modal-title"><span class="glyphicon glyphicon-transfer"></span> Map dataset</h4></div>
				<div class="modal-body">
					
					<table class="table table-striped">
<thead><tr><th>{{collection.name}}</th><th></th><th>Specify table</th><th>Specify field</th><th></th></tr></thead>
<tbody>
				 	<tr ng-hide="key === '_id'" ng-repeat="(key, value) in datasetMapping">
						<td>{{key}}</td>
						<td><img ng-if="datasetMapping[key]['table']['fields']" ng-src="{{ Icons.datamodel.get(datasetMapping[key]['table']['name']) }}" class="specify-icon-24 pull-right"></td>
						<td><input type="text" class="form-control" ng-model="datasetMapping[key].table" ng-model-options="{allowInvalid:true}" ng-options="model as model.name for model in datamodels | orderObjectBy" placeholder="Enter table name" minLength="3" bs-typeahead></td>
						<td><button type="button" class="btn btn-default" ng-if="datasetMapping[key]['table']['fields']" ng-model="datasetMapping[key]['fieldName']"  ng-options="field for field in getFieldsForModel(key)" placeholder="Choose field" bs-select></td>
				
				<td><img ng-if="datasetMapping[key]['refTable']" ng-src="{{ Icons.datamodel.get(datasetMapping[key]['refTable']) }}" class="specify-icon-24 pull-right"></td>
				
				<td><button type="button" class="btn btn-default" ng-if="tableIsTree(datasetMapping[key]['table']) && datasetMapping[key]['fieldName'] === 'Name'" ng-model="datasetMapping[key]['rankName']"  ng-options="treeDefItem.Name as treeDefItem.Name for treeDefItem in getTreeDefItems(datasetMapping[key]['table']['name'])" placeholder="Choose tree rank" bs-select>
				<button type="button" class="btn btn-default" ng-if="datasetMapping[key]['tableName'] === 'Agent'" ng-model="datasetMapping[key]['refTable']"  ng-options="table for table in ['Determination', 'Collector']" placeholder="Choose referencing table" bs-select>
				</td>
				 		
				 	</tr>
				</tbody>
					
					</table>
			
				<div class="modal-footer"><div class="col-md-6 taxon-footer-txt">
				</div>
					<div class="col-md-6">
					<button type="button" class="btn btn-success" ng-click="saveMapping()"> <i class="fa fa-save"></i> Save mapping</button> <button type="button" class="btn btn-danger" ng-click="$hide()"> <i class="fa fa-times"></i> Close</button> 
					</div>
				</div>
			</div>
		</div>
	</div>