<div class="container">		
        <div class="row main-content">
			
          <div class="col-lg-12 col-md-12">
  			<form class="form-inline" role="form">
  	  			<div class="form-group">
  				    <label>Pick workbench
  				    <input type="text" 
  							class="form-control" 
  							ng-model="selectedWorkbench" 
  							ng-options="wb.Name for wb in workbenchtemplates" 
  							placeholder="Search for workbench" 
  							limit="20"
  							bs-typeahead="workbenchtemplates">
  				</div>
  			</form>
			  <h3 ng-show="mappedRows.length">Showing data for workbench: {{ selectedWorkbench.Name }} ({{mappedRows.length}} rows)</h3>
			  <h3 ng-show="selectedWorkbench && !mappedRows.length"><i class="fa fa-spinner fa-spin"></i> Fetching data...</h3>
		   <table st-persist="tableStateWorkbenchTemplate_{{selectedWorkbench.WorkbenchTemplateID}}" ng-show="workbenchtemplatemappingitems"  st-table="rowCollection" st-safe-src="mappedRows" class="table table-striped" >
		   	<thead>
				<tr><th colspan="3">
							<input st-search="CellData" placeholder="global search" class="input-sm form-control" type="search"/>
						</th></tr>
				<tr>
				
					<th lr-drag-src="headers" lr-drop-target="headers" st-sort="getters.{{wtmi.FieldName}}" ng-repeat="wtmi in workbenchtemplatemappingitems" >{{wtmi.FieldName}}</th></tr>
		   	</thead>
		   	<tbody>
		        
		   	<tr ng-repeat="row in rowCollection" >	
		   		<td ng-repeat="wtmi in workbenchtemplatemappingitems">

						<a href="#" editable-text="row[wtmi.WorkbenchTemplateMappingItemID].CellData" onaftersave=" createOrUpdateWorkBenchDataItem(row, row[wtmi.WorkbenchTemplateMappingItemID], wtmi)">
					
						{{ row[wtmi.WorkbenchTemplateMappingItemID].CellData || ' + ' }}</a>
				
				</td>

		   	</tr>
		   	</tbody>
			<tfoot>
						<tr>
							<td colspan="3" class="text-center">
								<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
							</td>
						</tr>
					</tfoot>
		   </table>
			 		
                
            </div>
         
 
        </div>
        <!-- /.row -->

</div>

